footer{
        background-color: #5B5B5B;
        padding: 20px 50px;;
        position:absolute;
        bottom:0;
        width:100%;
        right:0px;
        display:blocked;


}

   p.escrita{
        text-align: center;
        color: #F8F8FF;
    }